.content{
    display: flex;
    justify-content:center;
    align-content: center;
    flex-wrap:wrap;
    justify-content: space-around;
    min-height:80%;

}
.card{
    margin: 3rem;
}
.btn-add-custom{
    color: #FFCC00;
    border-color: #FFCC00;
  align-self: center;
}
.btn-add-custom:focus{
    border-color: #FFCC00;
    box-shadow: 0 0 0 0.2rem rgba(255, 208, 0, 0.788);
}
.btn-add-custom:hover{
    border-color: #FFCC00;
    background-color: #FFCC00;
    color: white;
}
.btn-add-custom:not(:disabled):not(.disabled):active{
    color: #fff;
    background-color: #FFCC00;
    border-color: #FFCC00;
    box-shadow: 0 0 0 0.2rem rgba(255, 208, 0, 0.788);
}
.card-deck{
    align-self: center;
}
.bd-example{
    align-self: center;
}
.btn-custom{
    margin-bottom: 5px;
    margin-right: 0.5rem;
    color: white;
    background-color: #007bff;
    border-color: #007bff;;
}
.btn-custom:focus{
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}
.btn-custom:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-danger{
    margin-bottom: 5px;
}
.btn-success{
    margin-bottom: 5px;
    margin-right: 0.5rem;
    color: white;
}
.comment_display{
    display: flex;
    justify-content: space-around;
}
.stage{
    color: #fff;
    border-radius: 0.25rem;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
}
.stage_display{
 white-space: nowrap;
 display: block;

}
.stage_name{
    overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bg-success{
    background-color: #00a651;
}
.bg-info{
    background-color: #21a9e1;
}
.bg-warning{
    background-color: #fad839;
}
.bg-danger{
    background-color: #cc2424;
}
#chart{
    display: block;
}