<div class="modal-header border-warning">
    <h4 class="modal-title" id="modal-basic-title">Add new project</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form>
    <div class="modal-body">
        <div class="form-group">
            <label for="exampleFormControlInput1">Project Name:</label>
            <input id="inputName" type="text" class="form-control" placeholder="Project name" required >
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" required></textarea>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="dateOfBirth">Project start:</label>
                    <div class="input-group">
                        <input id="dateStart" class="form-control" placeholder="yyyy-mm-dd" name="dp1" ngbDatepicker #dp1="ngbDatepicker" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dp1.toggle()" type="button">
                                <i class="fas fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="dateOfBirth">Project end:</label>
                    <div class="input-group">
                        <input id="dateEnd" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button">
                                <i class="fas fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ngb-alert *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>
    </div>
    <div class="modal-footer border-warning">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="seveProject()">Save</button>
    </div>
</form>