<form>
    <div class="modal-header border-warning">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{item.name}}</h5>
        <p style="float: right;">{{item.date|date:'dd-MM-y'}}
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <p>{{item.description}}</p>
        <p>The project runs from {{item.startTime|date:'dd-MM-y'}} to {{item.endTime|date:'dd-MM-y'}}.</p>
        <div *ngIf="item.projectLifeCycle.length !== 0" style="display: block;">
            <div class="container">
                    <div class="timeline-centered">
                            <p>Stages of the project:</p>
                        <div *ngFor="let stage of item.projectLifeCycle">
                            <article class="timeline-entry" [ngClass]="{'left-aligned':isEvenId(stage)}">
                                <div class="timeline-entry-inner">
                                    <time class="timeline-time">
                                        <span>{{today | date:'shortTime'}}</span>
                                        <span>{{today | date:'dd-MM-y'}}</span>
                                    </time>
                                    <div class="timeline-icon" [ngClass]="{'bg-info':isInitiation(stage), 'bg-warning':isExecution(stage), 'bg-success':isPlanning(stage), 'bg-danger':isClosure(stage)}">
                                    </div>
                                    <div class="timeline-label">
                                        <h2>
                                         <a>{{stage.lifeCycle}}</a><span> - </span>
                                            <a>{{stage.name}}</a>
                                        </h2>
                                        <p>{{stage.comment}}</p>
                                        <p>The stage runs from {{stage.start|date:'dd-MM-y'}} to {{stage.end|date:'dd-MM-y'}}.</p>
                                        <div style="margin-top: 10px;">
                                            <button type="button" class="btn btn-custom">
                                                <i class="fas fa-pen" (click)="openEditStage(item,stage);activeModal.close('Close click')"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger" (click)="deleteStage(item,stage)">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>   
            </div>
        </div>
        <p *ngIf="!!(item.updateDate)" class="smallFont">Last update was on {{item.updateDate|date:'dd-MM-y'}}</p>
    </div>
    <div class="modal-footer border-warning">
        <button type="button" class="btn btn-primary" (click)="openEdit(item);activeModal.close('Close click')">
            <i class="fas fa-pen"></i> Edit</button>
        <button type="button" class="btn btn-danger" (click)="deleteProject(item);activeModal.close('Close click')">
            <i class="fas fa-trash-alt"></i> Delete</button>
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    </div>
</form>